body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #3d5a73;
    border-radius: 10%;
}

header {
    background-color: #2f3d40;
    color: #fff;
    padding: 100px;
    text-align: center;

}

footer {
    text-align: center;
    padding: 100px;
    background-color: #2f3d40;
    color: #ffffff;
}

main {
    text-align: center;
    padding: 100px;
    background-color: #ffffff;

}